.item {
    height: 500px;
    border: 1px solid red;

    img {
        outline: 1px solid blue;
        height: 30%;
        width: 100%;
    }

    h1 {
        height: 10%;
        border: 1px solid green;
    }

    h2 {
        height: 10%;
        border: 1px solid salmon;
    }

    .description {
        height: 30%;
        border: 1px solid black;
        overflow: hidden;
    }

    .button_container {
        height: 20%;

        input {

        }
    }
}